#about-content {
    margin-top: 45px;

    #top-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 {
            color: #3D3D3D;
            max-width: 500px;
            margin-left: 25px;
            margin-right: 25px;
        }

        img {
            width: 461px;
            height: 513px;
            border-radius: 20px;
            margin-left: 25px;
            margin-right: 25px;
        }
    }

    #top-section-mobile {
        display: none;
    }

    .interests-section {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 40px;
        margin-bottom: 40px;

        #section-header-area {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: -100px;

            h3 {
                color: #727272;
                size: 28px;
                margin-top: -10px;
                margin-left: 25px;
            }
        }

        #section-text-area {
            p {
                max-width: 800px;
                color: #808080;
                font-size: 20px;

                .emphasize {
                    color: #5D5D5D;
                    font-weight: 600;
                    font-size: 24px;
                }

                a {
                    color: #434CD6;
                    text-decoration: underline;
                }
            }

            p.block {
                color: #434CD6;
                font-weight: bold;
                font-size: 36px;
                margin-top: 200px;
                margin-bottom: 200px;
            }
        }

        #section-fun-area {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 800px;
            margin-top: 40px;

            .fun-section {
                img {
                    width: 346px;
                    height: 461px;
                    border-radius: 20px;
                }

                p {
                    max-width: 346px;
                    font-size: 22px;
                    color: #808080;
                    font-weight: 500;
                    margin-left: 5px;
                }
            }
        }
    }

    .connect-section {
        img {
            display: none;
        }
    }
}

@media screen and (max-width: 930px) {
    #about-content {
        #top-section {
            display: none;
        }
        
        #top-section-mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h1 {
                font-size: 28px;
                color: #3D3D3D;
                margin-top: 20px;
                margin-bottom: 10px;
                margin-left: 0px;
                margin-right: 0px;
            }

            h2 {
                color: #9C9C9C;
                font-size: 20px;
                font-weight: 500;
                margin-top: 0px;
            }

            a {
                color: #2832D2;
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                border-radius: 20px;
                padding: 5px 20px;
                border: 1px solid #2832D2;
                margin-top: 10px;
            }
        
            img {
                max-width: 461px;
                max-height: 513px;
                width: 80vw;
                height: 88vw;
                border-radius: 20px;
                margin-left: 25px;
                margin-right: 25px;
            }
        }

        .interests-section {
            margin-top: 100px;

            #section-header-area {
                margin-left: 5px;

                .purple-bar {
                    width: 46px;
                }    

                #special {
                    margin-left: 25px;
                }
            }

            #section-fun-area {
                display: flex;
                flex-direction: column !important;
                justify-content: center;
                align-items: center;
                width: 100vw;
                margin-top: 40px;
    
                .fun-section {
                    img {
                        width: 70vw;
                        height: 93vw;
                        border-radius: 20px;
                    }
    
                    p {
                        max-width: 70vw;
                        font-size: 18px;
                        color: #808080;
                        font-weight: 500;
                        margin-left: 5px;
                    }
                }
            }
        }

        .connect-section {
            margin-top: 10px;

            h2 {
                margin-bottom: 10px;
            }

            a {
                display: none;
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40px;
                height: 40px;
                padding-bottom: 50px;
            }
        }
    }
}
