#digital-content {
    .work-area {
        display: flex;
        justify-content: center;
        padding: 30px 25px;
        flex-wrap: wrap;

        img {
            width: 500px;
        }

        #work-sample {
            color: #373737;
            width: 550px;

            a {
                text-decoration: none;
                color: #373737;
            }

            h2 {
                font-size: 36px;
                margin-bottom: 0px;
            }

            h3 {
                margin-top: 0px;
                font-weight: 500;
            }

            .recent-work-line {
                width: 125px;
                height: 3px;
                background-color: #FDDD4A;
            }

            .read-case-button {
                padding: 5px 25px;
                display: inline-block;
                background-image: linear-gradient(#FFEC97, #FBCE00);
                border-radius: 10px;
                cursor: pointer;
            }
        }

        .work-sample-left {
            .recent-work-line {
                margin-left: auto;
            }
        }
    }

    #explore-more-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F6F6F6;
        margin-top: 50px;
        padding-left: 25px;
        padding-right: 25px;

        #title {
            color: #373737;
            text-align: center;
            margin-top: 30px;
        }

        #img-preview-area {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 25px;

            a {
                text-decoration: none;
                color: #373737;
            }

            .img-preview {
                margin: 25px;

                img {
                    width: 350px;
                }

                h2 {
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (min-width: 901px) {
    #digital-content {
        padding-top: 85px;

        .work-area {
            .work-sample-left {
                text-align: right;
                margin-right: 60px;

                .recent-work-line {
                    margin-left: auto;
                }
            }

            .work-sample-right {
                text-align: left;
                margin-left: 60px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #digital-content {
        #explore-more-section {
            padding-bottom: 200px;
        }
    }
}

@media screen and (max-width: 1175px) {
    #digital-content {
        .work-area {
            .work-sample-left {
                text-align: center;
                margin-right: 0px;
            }

            .work-sample-right {
                text-align: center;
                margin-left: 0px;
            }

            .recent-work-line {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 649px) {
    #digital-content {
        .work-area {
            img {
                width: 75vw;
                height: 55vw;
            }
        }
    }
}