#home {
    position: relative;
    width: 100vw;

    #background-images {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;


        #background-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .background-flex {
                display: flex;
                justify-content: space-between;
                width: 100vw;
                flex-wrap: wrap;
            }
        }
    }

    #home-content {
        position: relative;
        z-index: 1;
        margin-left: 25px;
        margin-right: 25px;

        #welcome-area {
            display: flex;
            justify-content: center;
            align-items: center;

            #welcome-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #2832D2;
                max-width: 550px;

                h1 {
                    font-weight: 900;
                    font-size: 50px;
                    margin: 0;
                }

                h3 {
                    font-weight: 500;
                    margin: 0;
                    font-size: 28px;
                }

                #welcome-bar {
                    width: 75px;
                    height: 5px;
                    background-color: #F29A36;
                    margin-top: 20px;
                }
            }
        }

        .section-title {
            font-size: 45px;
            color: #2832D2;
            text-align: center;
        }

        #recent-work-section {
            padding-top: 150px;

            .work-area {
                display: flex;
                justify-content: center;
                padding-top: 30px;
                padding-bottom: 30px;
                flex-wrap: wrap;

                #work-sample {
                    color: #373737;
                    width: 550px;

                    a {
                        text-decoration: none;
                        color: #373737;
                    }

                    h2 {
                        font-size: 36px;
                        margin-bottom: 0px;
                    }

                    h3 {
                        margin-top: 0px;
                        font-weight: 500;
                    }

                    .recent-work-line {
                        width: 125px;
                        height: 3px;
                        background-color: #FDDD4A;
                    }

                    .read-case-button {
                        padding: 5px 25px;
                        display: inline-block;
                        background-image: linear-gradient(#FFEC97, #FBCE00);
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }

                .work-sample-left {
                    .recent-work-line {
                        margin-left: auto;
                    }
                }
            }
        }

        #skills-section {
            margin-left: 40px;
            margin-right: 40px;

           #skills {
               display: flex;
               justify-content: space-between;

               .skills-text-area {
                    text-align: center;

                    p {
                        max-width: 300px;
                    }
               }

               .skills-filler-area {
                    margin-left: 20px;
                    margin-right: 20px;

                   img {
                       width: 40px;
                       height: 350px;
                   }
               }
           }
        }

        #bottom-section {
           display: flex;
           flex-direction: column;
           align-items: center;

            h2 {
                color: #2028A7;
                display: inline-block;
            }
    
            #connect-section {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 215px;

                #linkedin {
                    width: 35px;
                    height: 35px;
                }

                #mail {
                    width: 35px;
                    height: 25px;
                }
    
                .connect-icon {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 901px) {
    #home-content {
        padding-top: 150px;

        #welcome-area {
            #welcome-text {
                align-items: flex-end;
                text-align: center;
                margin-right: 75px;
            }
        }

        img {
            width: 400px;
        }

        #recent-work-section {
            .work-area {
                .work-sample-left {
                    text-align: right;
                    margin-right: 60px;

                    .recent-work-line {
                        margin-left: auto;
                    }
                }

                .work-sample-right {
                    text-align: left;
                    margin-left: 60px;
                }
            }
        }
    }

    #background-images {
        #pink-left {
            width: 450px;
            height: 875px;
            margin-right: auto;
        }

        #yellow-right {
            width: 700px;
            height: 700px;
            margin-left: auto;
        }

        #line {
            width: 100vw;
            height: 362px;
        }

        #purple-left {
            width: 175px;
            height: 925px;
        }

        #orange-right {
            height: 550px;
            height: 925px;
            padding-top: 550px;
            margin-left: auto;
        }

        #blue-bottom {
            width: 100vw;
            height: 325px;
        }
    }
}

@media screen and (max-width: 1224px) {
    #home-content {
        #recent-work-section {
            .work-area {
                .work-sample-left {
                    text-align: center;
                    margin-right: 0px;
                }

                .work-sample-right {
                    text-align: center;
                    margin-left: 0px;
                }

                .recent-work-line {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #background-images {
        #pink-left {
            width: 225px;
            height: 438px;
        }

        #yellow-right {
            width: 425px;
            height: 438px;
            margin-left: auto;
        }

        #line {
            width: 100vw;
            height: 362px;
        }

        #purple-left {
            width: 175px;
            height: 925px;
        }

        #orange-right {
            height: 550px;
            height: 925px;
            padding-top: 750px;
            margin-left: auto;
        }

        #blue-bottom {
            width: 100vw;
            height: 203px;
        }
    }

    #home-content {
        #welcome-area {
            flex-direction: column-reverse;

            #welcome-text {
                align-items: center;
                text-align: center;
                margin-top: 50px;

                margin-left: auto;
                margin-right: auto;

                #welcome-bar {
                    display: none;
                }
            }

            img {
                width: 325px;
                margin-top: 50px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    #background-images {
        #yellow-right {
            width: 340px;
            height: 350px;
            margin-left: auto;
        }

        #purple-left {
            width: 140px;
            height: 740px;
        }

        #orange-right {
            height: 440px;
            height: 740px;
            padding-top: 950px;
            margin-left: auto;
        }

        #blue-bottom {
            width: 100vw;
            height: 100px;
        }
    }
}


@media screen and (min-width: 649px) {
    #home-content {
        #recent-work-section {
            .work-area {
                img {
                    width: 550px;
                    height: 435px;
                }
            }
        }
    }
}

@media screen and (max-width: 649px) {
    #home-content {
        #recent-work-section {
            .work-area {
                img {
                    width: 75vw;
                    height: 70vw;
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    #home-content {
        #bottom-section {
            padding-top: 50px;
            padding-bottom: 100px;
        }
    }
}

@media screen and (max-width: 700px) {
    #home-content {
        #bottom-section {
            padding-bottom: 220px;
        }
    }

    #background-images {
        #blue-bottom {
            padding-bottom: 160px;
        }
    }
}

@media screen and (max-width: 845px) {
    #background-images {
        display: none;
    }
}

@media screen and (min-width: 816px) {
    #home {
        #home-content {
            #skills-section {
                padding-bottom: 150px;
            }
        }
    }
}

@media screen and (max-width: 815px) {
    #skills-section {
        padding-bottom: 25px;

        #skills {
            flex-direction: column;
    
            .skills-text-area {
                p {
                    margin-left: auto;
                    margin-right: auto;
                    min-width: 450px;
                }
            }
    
            .skills-filler-area {
                img {
                    display: none;
                }
            }
        }

    }
}